.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.form-wrapper form {
    display: flex;
    flex-direction: column;
}

.form-wrapper form button {
    margin-bottom: 12px;
}

.form-wrapper form label {
    margin-bottom: 16px;
}

.form-wrapper form input {
    margin-top: 4px;
}