button {
    background-color: #ced6e0;
    border-radius: 8px;
    height: 32px;
    padding: 0 10px;
    border: 0;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button:hover {
    background-color: #d8dee6
}

button:active {
    background-color: #b9c1ca
}

button.primary {
    background-color: #ffa502;
}

button.primary:hover {
    background-color: #ffb735;
}

button.primary:active {
    background-color: #e69502;
}

button.success {
    background-color: #27cf6d;
    color: white;
}

button.success:hover {
    background-color: #26c066;
}

button.success:active {
    background-color: #13aa52;
}


button.danger {
    background-color: #ff4757;
    color: white;
}

button.danger:hover {
    background-color: #fd626f;
}

button.danger:active {
    background-color: #eb3141;
}