@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Ubuntu';
  background-color: #dfe4ea;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #3742fa;
}